<div class="logo">
  <a [routerLink]="['/dashboard']" class="simple-text">
    <div class="logo-img">
      <img class="mt-1" src="/assets/img/logo-irpf.png" />
    </div>
    CRUD IRPF
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>