@media (min-width: 768px) {
  app-input {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
app-input {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
app-button {
  margin: 10px;
}

.actionsForm {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 430px) {
  .actionsForm {
    align-items: center;
    flex-direction: column;
  }
}