<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/CabralPro">
                        GitHub
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/arthurcabrallemos/">
                        Linkedin
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5531998762713&text=Obrigado%20por%20reservar%20um%20tempo%20para%20entrar%20em%20contato.%20Como%20posso%20te%20ajudar%3F  ">
                        Whatsapp
                    </a>
                </li>
                <li>
                    <a target="_blank" href="mailto:cabraltec02@gmail.com">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, desenvolvido por
            <a href="https://cabraltec.com" target="_blank">Arthur Cabral</a>
        </div>
    </div>
</footer>