<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-category">{{subtitle}}</p>
      </div>
      <div class="card-body">
        <form name="form" [formGroup]="formGroup"  (ngSubmit)="submit()" #formDirective="ngForm"  >
          <app-overlay-loading [isLoading]="loading">
            <div class="row">
              <ng-content> </ng-content>
            </div>
            <ng-content select="[actions]"> </ng-content>
          </app-overlay-loading>
        </form>
      </div>
    </div>
  </div>
</div>